*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  font-family: $primary-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: $base-color-text;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1 1 auto;
}

img {
  height: auto;
  object-fit: contain;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}