html {
  height: 100%;
}
body {
    position: relative;
    font-family: $primary-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: $base-color-text;
    height: 100%;
  }

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

  main {
    flex: 1 1 auto;
  }
  
  img {
    height: auto;
    object-fit: contain;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }