.intro {
  background-color: black;
  @media (min-width: $tablet-width) {
    background: linear-gradient(to right, black 30%, #181823 20% 100%);
  }
  .container {
    height: 652px;
    display: flex;
    flex-direction: column;
    padding: 0;
    @media (min-width: $tablet-width) {
      height: 814px;
      flex-direction: row;
      align-items: center;
    }
  }
  &__img {
    height: 288px;
    @media (min-width: $tablet-width) {
        width: 384px;
height: 650px;
    }
    @media (min-width: $desktop-width) {
      width: 750px;
height: 650px;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__text {
    @media (min-width: $tablet-width) {
    position: absolute;
    right: 60px;
   width: 408px;
  }
  }
  h1 {
font-size: 32px;
font-weight: 700;
line-height: 38.5px;
width: 320px;
height: 117px;
margin-left: 20px;
margin-top: 50px;
margin-bottom: 0;
@media (min-width: $tablet-width) {
    width: 408px;
height: 335px;
font-size: 56px;
font-weight: 700;
line-height: 67.38px;
}
span {
  color:#FFFFFF80;
}
  }
  p {
    width: 320px;
height: 135px;
font-size: 18px;
line-height: 27px;
margin-left: 20px;
  }
}
