.logos {
  background-color: black;
  .container {
    display: flex;
    padding: 0;
    overflow: hidden;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    @media (min-width: $desktop-width) {
        display: flex;
        animation: sliding 15s linear infinite;
    }
  }
  &__item {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #181823;
    @media (min-width: $desktop-width) {
        width: 340px;
        flex-shrink: 0;
    }
  }
}

@keyframes sliding {
    0% {        
        transform: translate(100%, 0);
      }    
      99% {    
        opacity: 1;
        transform: translate(-100%, 0);
     }
     100% {
        opacity: 0;
        transform: translate(-100%, 0);
     }   
 }