#photography {
  background-color: black;
  .container {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 50px;
    @media (min-width: $tablet-width) {
        padding: 50px 40px 80px;
        }
  }
  .photography__header {
    @media (min-width: $tablet-width) {
        margin-bottom: 20px;
        }
    h2 {
      font-size: 32px;
      font-weight: 700;
      line-height: 38.5px;
      @media (min-width: $tablet-width) {
font-size: 55px;
font-weight: 700;
line-height: 66.17px;
margin-bottom: 25px;
        }
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      color: #8491a0;
    }
  }
  .photography__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px 0 40px;
    @media (min-width: $tablet-width) {
        display: flex;
        gap: 24px;
                }
    button {
font-size: 18px;
font-weight: 700;
line-height: 27px;
color: white;
background-color: black;
border: 1px solid #5221E6;
width: 148px;
height: 51px;
padding: 12px 16px 12px 16px;
@media (min-width: $tablet-width) {
width: fit-content;
}
    }
  }
  .photography__pictures {
    display: flex;
        flex-direction: column;
        gap: 25px;
        @media (min-width: $tablet-width) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            column-gap: 15px;
            }
            img {
                @media (min-width: $tablet-width) {
                   width: 332px;
                   height: 420px;
                    }   
            }
  }
}
