@charset "UTF-8";
/* здесь используйте глобальные переменные */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  font-family: "Sen", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: white;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1 1 auto;
}

img {
  height: auto;
  object-fit: contain;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

header {
  background-color: black;
}
@media (min-width: 1440px) {
  header {
    background: linear-gradient(to right, black 30%, #181823 20% 100%);
  }
}
header .container {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  header .container {
    height: 88px;
  }
}

.logo {
  z-index: 3;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .logo {
    padding-left: 30px;
  }
}
@media (min-width: 1440px) {
  .logo {
    padding-left: 50px;
  }
}
.logo img {
  height: 24px;
  width: 78px;
}

.nav {
  background-color: #ffffff;
  color: white;
}
@media (min-width: 768px) {
  .nav {
    background-color: transparent;
    z-index: 2;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .nav--opened .nav__list {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .nav--closed .nav__list {
    display: none;
  }
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .nav__list {
    display: flex;
    padding-right: 30px;
    font-size: 16px;
    background-color: black;
    height: 100%;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .nav__list {
    padding-right: 50px;
    background-color: #181823;
  }
}
.nav__list .nav__item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .nav__list .nav__item {
    height: 35px;
  }
}
.nav__list .nav__item:hover {
  background-color: #5221e6;
}
@media (min-width: 768px) {
  .nav__list .nav__item:hover {
    background-color: #5221e6;
  }
}

.nav__toggle {
  position: absolute;
  top: 21px;
  right: 15px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
.nav__toggle:hover {
  opacity: 0.8;
}
.nav__toggle:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
}

.nav--closed .nav__toggle {
  background-image: url("../images/hamburger-menu.svg");
  background-repeat: no-repeat;
  top: 20px;
  right: 21px;
  z-index: 5;
}

.nav--opened .nav__toggle {
  background-image: url("../images/close-button.svg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: 20px;
  z-index: 5;
}

.nav--nojs .nav__toggle {
  display: none;
}

@media (max-width: 767px) {
  .nav--nojs .nav__list {
    position: static;
    display: block;
  }
}

.nav__link {
  text-decoration: none;
  color: white;
}
@media (min-width: 768px) {
  .nav__link {
    margin: 20px;
    width: 100%;
  }
}

/* здесь подключите шрифты*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer {
  background-color: #181823;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  margin-top: auto;
}
@media (min-width: 768px) {
  .footer .container {
    padding: 70px 30px;
  }
}
@media (min-width: 1440px) {
  .footer .container {
    padding: 80px 50px;
  }
}
@media (min-width: 768px) {
  .footer .footer__main {
    display: flex;
    gap: 200px;
  }
}
@media (min-width: 1440px) {
  .footer .footer__main {
    gap: 700px;
  }
}
.footer .footer__logo-icons {
  display: flex;
  gap: 25px;
  flex-direction: column;
  margin-bottom: 40px;
}
.footer .footer__logo-icons .footer__icons {
  display: flex;
  gap: 10px;
}
.footer__logo {
  width: 130px;
  height: 40px;
}
.footer .footer__navbar {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .footer .footer__navbar {
    height: 192px;
    display: flex;
    flex-direction: row;
    gap: 150px;
  }
}
.footer .footer__navbar .footer__navbar-1 {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .footer .footer__navbar .footer__navbar-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 150px;
  }
  .footer .footer__navbar .footer__navbar-1 .footer__navlink:nth-child(1) {
    order: 0;
  }
  .footer .footer__navbar .footer__navbar-1 .footer__navlink:nth-child(2) {
    order: 4;
  }
  .footer .footer__navbar .footer__navbar-1 .footer__navlink:nth-child(3) {
    order: 3;
  }
  .footer .footer__navbar .footer__navbar-1 .footer__navlink:nth-child(4) {
    order: 4;
  }
  .footer .footer__navbar .footer__navbar-1 .footer__navlink:nth-child(5) {
    order: 5;
  }
  .footer .footer__navbar .footer__navbar-1 .footer__navlink:nth-child(6) {
    order: 6;
  }
  .footer .footer__navbar .footer__navbar-1 .footer__navlink:nth-child(7) {
    order: 7;
  }
}
.footer .footer__navbar .footer__navlink {
  line-height: 40px;
}
.footer .footer__navbar a {
  color: white;
  text-decoration: none;
}
.footer .copyright-webflow {
  display: flex;
  flex-direction: column;
}
.footer .copyright-webflow p {
  margin: 0;
  color: #8491a0;
}

.intro {
  background-color: black;
}
@media (min-width: 1440px) {
  .intro {
    background: linear-gradient(to right, black 30%, #181823 20% 100%);
  }
}
.intro .container {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .intro .container {
    flex-direction: row;
    align-items: center;
  }
}
.intro__img {
  height: 288px;
}
@media (min-width: 768px) {
  .intro__img {
    width: 384px;
    height: 650px;
    margin: 88px 0;
  }
}
@media (min-width: 1440px) {
  .intro__img {
    width: 750px;
    height: 650px;
  }
}
.intro__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .intro__text {
    margin-left: -85px;
  }
}
@media (min-width: 1440px) {
  .intro__text {
    width: 738px;
    margin-left: -100px;
    padding-bottom: 30px;
  }
}
.intro h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.5px;
  width: 320px;
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .intro h1 {
    width: 408px;
    font-size: 56px;
    font-weight: 700;
    line-height: 67.38px;
  }
}
@media (min-width: 1440px) {
  .intro h1 {
    font-size: 78px;
    font-weight: 700;
    line-height: 93.84px;
    width: 100%;
  }
}
.intro h1 span {
  color: rgba(255, 255, 255, 0.5019607843);
}
.intro p {
  width: 320px;
  font-size: 18px;
  line-height: 27px;
  margin-left: 20px;
}
@media (min-width: 1440px) {
  .intro p {
    width: 100%;
  }
}

#advantages {
  background-color: black;
}
#advantages .container {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 30px;
}
@media (min-width: 768px) {
  #advantages .container {
    padding: 60px 40px 60px;
  }
}
@media (min-width: 1440px) {
  #advantages .container {
    padding: 95px 65px 95px;
  }
}
#advantages .advantages__header h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #8491a0;
}
#advantages .advantages__header p {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.5px;
  margin: 10px 0;
}
@media (min-width: 768px) {
  #advantages .advantages__header p {
    font-size: 55px;
    font-weight: 700;
    line-height: 66.17px;
  }
}
@media (min-width: 1440px) {
  #advantages .advantages__header p {
    width: 690px;
  }
}
#advantages .advantages__company {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 0;
}
#advantages .advantages__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #8491a0;
}

.green-text {
  color: #3cc74e;
}

.blue-text {
  color: #609bff;
}

.pink-text {
  color: #e95d90;
}

.advantages__list {
  list-style: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .advantages__list {
    display: flex;
    gap: 50px;
    margin-top: 30px;
  }
}

.advantages__item {
  counter-increment: item;
  position: relative;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .advantages__item {
    width: 212px;
  }
}
@media (min-width: 1440px) {
  .advantages__item {
    width: 416px;
    padding-right: 50px;
  }
}

.advantages__item::before {
  content: counter(item, decimal-leading-zero);
  position: absolute;
  left: 0;
  top: 0;
  color: #8491a0;
  border-radius: 50%;
  width: 126px;
  font-family: "Sen", sans-serif;
  font-size: 117px;
  height: 141px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  background-color: #FFF3E4;
}
.about .container {
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .about .container {
    flex-direction: row;
  }
}
.about__text {
  padding: 20px 20px 50px;
}
@media (min-width: 768px) {
  .about__text {
    width: 50%;
    padding: 20px 40px 60px;
  }
}
@media (min-width: 1440px) {
  .about__text {
    padding: 70px;
  }
}
.about__header {
  color: #181823;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.5px;
}
@media (min-width: 768px) {
  .about__header {
    font-size: 55px;
    font-weight: 700;
    line-height: 66.17px;
  }
}
.about__description {
  color: #5B6876;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  .about__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .about__description {
    margin-bottom: 130px;
  }
}
.about__link {
  color: #181823;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.about__image {
  background-image: url("../images/photo-about.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 450px;
}
@media (min-width: 768px) {
  .about__image {
    width: 50%;
    height: 600px;
  }
}

.skills {
  background-color: black;
}
.skills .container {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  gap: 40px;
}
@media (min-width: 768px) {
  .skills .container {
    padding: 40px 40px;
    gap: 20px;
  }
}
@media (min-width: 1440px) {
  .skills .container {
    flex-direction: row;
    padding: 100px 40px;
  }
}
@media (min-width: 1440px) {
  .skills__text {
    width: 416px;
  }
}
.skills__header {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.5px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .skills__header {
    font-size: 55px;
    font-weight: 700;
    line-height: 66.17px;
  }
}
@media (min-width: 1440px) {
  .skills__header {
    margin-top: 20px;
  }
}
.skills__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #8491A0;
}
@media (min-width: 1440px) {
  .skills__description {
    width: 368px;
  }
}
.skills__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 768px) {
  .skills__list {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
  }
}
.skills__item {
  width: 332px;
}
@media (min-width: 1440px) {
  .skills__item {
    width: 416px;
  }
}
.skills__item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 0;
  margin-top: 20px;
}
.skills__item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #8491A0;
}
@media (min-width: 768px) {
  .skills__item p {
    width: 284px;
  }
}
@media (min-width: 1440px) {
  .skills__item p {
    width: 368px;
  }
}

.logos {
  background-color: black;
}
.logos .container {
  display: flex;
  padding: 0;
  overflow: hidden;
}
.logos__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 1440px) {
  .logos__list {
    display: flex;
    animation: sliding 15s linear infinite;
  }
}
.logos__item {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #181823;
}
@media (min-width: 1440px) {
  .logos__item {
    width: 340px;
    flex-shrink: 0;
  }
}

@keyframes sliding {
  0% {
    transform: translate(100%, 0);
  }
  99% {
    opacity: 1;
    transform: translate(-100%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-100%, 0);
  }
}
#projects {
  background-color: black;
}
#projects .container {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  gap: 40px;
}
@media (min-width: 768px) {
  #projects .container {
    padding: 70px 30px;
  }
}
@media (min-width: 1440px) {
  #projects .container {
    padding: 150px 80px;
    position: relative;
  }
}
#projects .projects__text p {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #8491a0;
  margin: 10px 0;
}
#projects .projects__text h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.5px;
  margin-top: 0;
}
@media (min-width: 768px) {
  #projects .projects__text h2 {
    font-size: 55px;
    line-height: 66.17px;
  }
}
@media (min-width: 1440px) {
  #projects .projects__text h2 {
    width: 572px;
  }
}
#projects .projects__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0;
}
@media (min-width: 768px) {
  #projects .projects__list {
    display: flex;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  #projects .projects__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
#projects .projects__list .projects__item {
  background-color: #181823;
}
#projects .projects__list .projects__item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
@media (min-width: 768px) {
  #projects .projects__list .projects__item img {
    height: 620px;
  }
}
#projects .projects__list .projects__item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  padding: 0 30px;
  margin-top: 35px;
  margin-bottom: 10px;
}
#projects .projects__list .projects__item p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #8491a0;
  padding: 0 30px 20px;
}
@media (min-width: 768px) {
  #projects .projects__list .projects__item p {
    padding: 0 50px 25px 30px;
  }
}
@media (min-width: 1440px) {
  #projects .projects__list .projects__item:nth-child(2n) {
    position: relative;
    top: -280px;
  }
}
#projects .projects__button {
  display: none;
  width: 247px;
  height: 75px;
  font-size: 18px;
  font-weight: 700;
  background-color: black;
  color: white;
  border: 1px solid #5221E6;
}
@media (min-width: 1440px) {
  #projects .projects__button {
    display: block;
    position: absolute;
    bottom: 240px;
    right: 250px;
  }
}

.instagram {
  background-color: #FBE4FF;
}
.instagram .container {
  display: flex;
  flex-direction: column;
  padding: 0;
}
@media (min-width: 768px) {
  .instagram .container {
    flex-direction: row;
  }
}
.instagram__text {
  padding: 20px 20px 40px;
  min-height: 450px;
}
@media (min-width: 768px) {
  .instagram__text {
    min-height: 600px;
    padding: 40px;
  }
}
@media (min-width: 1440px) {
  .instagram__text {
    padding: 60px 80px 60px 70px;
  }
}
.instagram__text h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.5px;
  color: #181823;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .instagram__text h2 {
    font-size: 55px;
    font-weight: 700;
    line-height: 66.17px;
  }
}
.instagram__text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #5B6876;
  margin-top: 15px;
}
@media (min-width: 1440px) {
  .instagram__text p {
    margin-top: 20px;
  }
}
.instagram__text a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #181823;
  display: block;
  position: relative;
  top: 100px;
}
@media (min-width: 768px) {
  .instagram__text a {
    top: 120px;
  }
}
@media (min-width: 1440px) {
  .instagram__text a {
    top: 140px;
  }
}
.instagram__text a::before {
  content: "Follow me on IG";
}
@media (min-width: 768px) {
  .instagram__text a::before {
    content: "More about me";
  }
}
@media (min-width: 1440px) {
  .instagram__text a::before {
    content: "Follow me on IG";
  }
}
.instagram picture {
  height: 450px;
}
@media (min-width: 768px) {
  .instagram picture {
    width: 50%;
  }
}
.instagram img {
  object-fit: cover;
  width: 100%;
}
@media (min-width: 768px) {
  .instagram img {
    min-height: 600px;
    width: unset;
  }
}

.dribbble {
  background-color: black;
}
.dribbble .container {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
  padding: 25px 20px 65px;
  gap: 60px;
}
@media (min-width: 768px) {
  .dribbble .container {
    padding: 40px;
  }
}
@media (min-width: 1440px) {
  .dribbble .container {
    padding: 60px;
  }
}
@media (min-width: 1440px) {
  .dribbble__text {
    position: relative;
    right: 220px;
    width: 636px;
  }
}
.dribbble__text h2 {
  font-size: 55px;
  font-weight: 700;
  line-height: 66.17px;
  margin-bottom: 20px;
}
.dribbble__text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #8491A0;
  margin-bottom: 40px;
}
.dribbble__text a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
}
@media (min-width: 768px) {
  .dribbble picture {
    padding: 60px 0 30px;
  }
}

.opinion {
  background-color: black;
}
.opinion .container {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}
.opinion__header h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.5px;
  margin: 0 0 10px;
}
.opinion__header p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #8491A0;
}
.opinion__header a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  margin: 50px 0;
  display: block;
}
.opinion__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}
.opinion__list img {
  width: 332px;
}
.opinion__item {
  border: 1px solid #5B6876;
}
.opinion__content {
  padding: 0 25px 10px;
}
.opinion__testimonial {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 65px;
}
.opinion__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #8491A0;
}