@charset "UTF-8";
/* здесь используйте глобальные переменные */
body {
  position: relative;
  font-family: "Sen", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: white; }

img {
  height: auto;
  object-fit: contain; }

*,
*::before,
*::after {
  box-sizing: border-box; }

header {
  height: 72px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (min-width: 1440px) {
    header {
      height: 88px; } }

.logo {
  z-index: 3;
  padding-left: 20px; }
  @media (min-width: 768px) {
    .logo {
      padding-left: 30px; } }
  @media (min-width: 1440px) {
    .logo {
      padding-left: 50px; } }
  .logo img {
    height: 24px;
    width: 78px; }

.nav {
  background-color: #ffffff;
  color: white; }
  @media (min-width: 768px) {
    .nav {
      background-color: transparent;
      z-index: 2;
      height: 100%; } }

@media (max-width: 767px) {
  .nav--opened .nav__list {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 20px; } }

@media (max-width: 767px) {
  .nav--closed .nav__list {
    display: none; } }

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  @media (min-width: 768px) {
    .nav__list {
      display: flex;
      padding-right: 30px;
      font-size: 16px;
      background-color: black;
      height: 100%;
      align-items: center; } }
  @media (min-width: 1440px) {
    .nav__list {
      padding-right: 50px; } }
  .nav__list .nav__item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 767px) {
      .nav__list .nav__item {
        height: 35px; } }
    .nav__list .nav__item:hover {
      background-color: #5221E6; }
  @media (min-width: 768px) {
    .nav__list .nav__item:hover {
      background-color: #5221E6; } }

.nav__toggle {
  position: absolute;
  top: 21px;
  right: 15px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  cursor: pointer;
  border: none; }
  .nav__toggle:hover {
    opacity: 0.8; }
  .nav__toggle:active {
    opacity: 0.6; }
  @media (min-width: 768px) {
    .nav__toggle {
      display: none; } }

.nav--closed .nav__toggle {
  background-image: url("../images/hamburger.svg");
  background-repeat: no-repeat;
  top: 20px;
  right: 21px;
  z-index: 5; }

.nav--opened .nav__toggle {
  background-image: url("../images/close.svg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: 20px;
  z-index: 5; }

.nav--nojs .nav__toggle {
  display: none; }

@media (max-width: 767px) {
  .nav--nojs .nav__list {
    position: static;
    display: block; } }

.nav__link {
  text-decoration: none;
  color: white; }
  @media (min-width: 768px) {
    .nav__link {
      margin: 20px;
      width: 100%; } }

/* здесь подключите шрифты*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

/*# sourceMappingURL=styles.css.map */
